*{
    margin: 0px;
    padding: 0px;
}

#navi{
    background-color:rgba(22,22,23, .8);
    height: 44px;
    width: 1518px;
    position:fixed ;
    top: 0px;

}

ul{
    list-style-type: none;
    position: relative;
    left: 217px;
    bottom: 11px;
   }
 li{
    padding: 20px;
    float: left;
    
 }
 li a{
    text-decoration: none;
    color: aliceblue;
    
 }
 .section{
    height: 45px;
    width: 1540px;
    background-color: #1d1d1f;
    position: relative;
    top: 44px;
    z-index: -1;
   }
 .s-text{
    color: aliceblue;
    position: relative;
    top: 11px;
    left: 319px;
   
 }
 .s-link{
    color: #0071e3;
    float: left;
    position: relative;
    left: 849px;
 }

 
 .buy button{
   width: 74px;
   height:44px;
   border-radius: 30px;
   background-color: transparent;
   border:1PX solid #2997ff;
   z-index: 3;
   color: #2997ff;
   position: absolute;
   top: 150px;
   left: 660PX;
   font-size: 20px;
   
}
 
.buy :hover{
   background-color: #2997ff;
  
}
.buy button :hover{
   color: aliceblue;
}


 .i15pro video{
    width: 1540px;
    height: 463px;
    position: relative;
    top: 43px;
    z-index: -1;
   
 }
 .i15 img{
    width: 1540px;
    height: 580px;
    position: relative;
    top: 43px;
    z-index: -1;
   
 }
 .mac img{
    width: 1540px;
    height: 580px;
    position: relative;
    top: 43px;
    z-index: -1;
 }
 .iPadPro img{
   width: 742px;
   height: 580px;
   z-index: -1;
 }
 .watch img{
   width: 742px;
   height: 580px;
   z-index: -1;
 }
 .appleatwork img{
   width: 742px;
   height: 580px;
   z-index: -1;
 }
 .macbookair img{
   width: 742px;
   height: 534px;
   position: relative;
   left: 757px;
   bottom: 1712px;
   z-index: -1;
 }
 .appleint img{
   width: 742px;
   height: 579px;
   position: relative;
   left: 757px;
   bottom: 1708px;
   z-index: -1;
 }
 .tradein img{
   width: 742px;
   height: 574px;
   position: relative;
   left: 757px;
   bottom: 1711px;
   z-index: -1;
 }
.TV img{
   width: 1540px;
   height: 668px;
   position: absolute;
   top: 3431px;
   z-index: -1;
}
.dot img{
   position: relative;
   bottom: 1018px;
   left: 683px;
   height: 35px;
   width: 198px;
   z-index: -1;
}
.text{
   font-size: 14px;
   width: 980px;
   height: 256px;
   color: rgba(0, 0, 0, 0.56);
   position: relative;
   bottom: 996px;
   left: 273px;
   border-bottom: 1px solid  rgba(0, 0, 0, 0.56);
}
.v1{
   font-size: 12px;
   color: rgba(0, 0, 0, 0.72);
   
   
}
.v1link{
   color: rgba(0, 0, 0, 0.56);
   padding: 2px;
   font-size: 12px;
}
#v1{
   height: 364px;
   width: 196px;
   position: relative;
   left: 281px;
   bottom: 985px;
   padding: 4px;

}

#v2{
   height: 364px;
   width: 196px;
   position: relative;
   left: 461px;
   bottom: 1356px;
   padding: 4px;
}
#v3{
   height: 364px;
   width: 196px;
   position: relative;
   left: 645px;
   bottom: 1727px;
   padding: 4px;
}
#v4{
   height: 364px;
   width: 196px;
   position: relative;
   left: 840px;
   bottom: 2099px;
   padding: 4px;
}
#v5{
   height: 364px;
   width: 196px;
   position: relative;
   left: 1036px;
    bottom: 2472px;
   padding: 4px;
}
.end1{
   height: 36px;
   width: 980px;
   position: relative;
   bottom: 2452px;
   left: 288px;
   font-size: 14px;
   color: rgba(0, 0, 0, 0.56);
   border-bottom: 1px solid  rgba(0, 0, 0, 0.56);
}

.end2{
   height: 36px;
   width: 980px;
   position: relative;
   bottom: 2431px;
   left: 288px;
   font-size: 14px;
   color: rgba(0, 0, 0, 0.56);
}
